TAG.Simulator.XMPP.Legal/Schema/ComSimXmppLegal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ComSimXmppIoT"
           targetNamespace="http://lab.tagroot.io/Schema/ComSim/XMPPLegal.xsd"
           elementFormDefault="qualified"
           xmlns="http://lab.tagroot.io/Schema/ComSim/XMPPLegal.xsd"
           xmlns:mstns="http://lab.tagroot.io/Schema/ComSim/XMPPLegal.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cs="http://lab.tagroot.io/Schema/ComSim.xsd"
           xmlns:xmpp="http://lab.tagroot.io/Schema/ComSim/XMPP.xsd">

  <xs:import namespace="http://lab.tagroot.io/Schema/ComSim.xsd"/>
  <xs:import namespace="http://lab.tagroot.io/Schema/ComSim/XMPP.xsd"/>

  <xs:element name="LegalExtension">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xmpp:XmppExtension">
          <xs:attribute name="componentAddress" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<xs:element name="GetLatestApprovedLegalId">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cs:ActivityNode">
					<xs:attribute name="actor" type="xs:string" use="required"/>
					<xs:attribute name="variable" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ApplyLegalId">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cs:ActivityNode">
					<xs:sequence>
						<xs:element name="Property" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
								<xs:attribute name="value" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="actor" type="xs:string" use="required"/>
					<xs:attribute name="variable" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ReadyForApproval">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cs:ActivityNode">
					<xs:attribute name="actor" type="xs:string" use="required"/>
					<xs:attribute name="legalId" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="PetitionIdentity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cs:ActivityNode">
					<xs:attribute name="actor" type="xs:string" use="required"/>
					<xs:attribute name="legalId" type="xs:string" use="required"/>
					<xs:attribute name="purpose" type="xs:string" use="required"/>
					<xs:attribute name="variable" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="PetitionSignature">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cs:ActivityNode">
					<xs:attribute name="actor" type="xs:string" use="required"/>
					<xs:attribute name="legalId" type="xs:string" use="required"/>
					<xs:attribute name="purpose" type="xs:string" use="required"/>
					<xs:attribute name="content" type="xs:string" use="required"/>
					<xs:attribute name="variable" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
